.bemVindo{
    
    background: linear-gradient(transparent 50%, #006266  90%), url(https://i.imgur.com/do9e8PJ.png);
    background-repeat: no-repeat;
    width: 80vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.bemVindo2{
    background-image: linear-gradient(to bottom, #006266 30% , #52acad );
    display: flex;
}
.bemVindo3{
    background-image: linear-gradient(to bottom, #52acad 30% , #006266 )
}
.bemVindo4{
    background-image: linear-gradient(to bottom, #006266 30% , #032b2c );
}
.bemVindo5{
    background-color: #52acad;
}
.nome{
    font-weight: bold !important;
    color: white;
}
.descricao-equipe{
    color: white;
}
.foto-equipe{
    border-radius: 50%;
    width: 150px;
    margin-top: 10px;

}

.foto-empresas{
    width:180px;
}

#teste1{
padding-right: 100px;
}
#teste{
    padding-left: 140px;
    
}

#img-able{
    animation: float 3s ease-out infinite alternate;
}

@keyframes float {
   to{
    transform: scale(1.2);
   }
   from{
    transform: scale(0.9);
   }
}

@media (max-width: 1400px) {
    #teste{
        padding-left: 90px;
        
    }
}
@media (max-width: 800px) {
    .bemVindo2 {
        flex-direction: column;
    }
    .TelaGrande {
        margin-bottom: 20px;
    }
    .bemVindo3 {
        flex-direction: column;
    }
    .bemVindo4{
        padding-left: 0%;
        padding-right: 0%;
    }

    }
    @media (min-width: 800px){
        .descricao-equipe{
            padding-left: 150px;
            padding-right: 150px;
        }

    }

